### Programming Assignment 5
* Will Robinson
* 11-04-2021
* CS-150-01

### Part A

In [25]:
dict1 = {'hello': 'hola', 'bye': 'adiós', 'chair': 'silla', 'cow': 
         'vaca', 'sky': 'cielo', 'house': 'casa', 'school': 'colegio', 
         'hat': 'sombrero', 'cup': 'taza', 'shirt': 'camisa', 
         'grass': 'césped', 'paper': 'papel', 'work': 'trabaja', 
         'computer': 'computadora', 'key': 'llave', 'picture': 'fotografía', 
         'ant': 'hormiga', 'fish': 'pez', 'boat': 'barco', 'car': 'coche'}
word=input("Enter a word to translate from English to Spanish (enter 0 to stop)")
while True:
    if word=='0':
        break
    else:
        print(dict1[word])
        word=input("Enter a word to translate from English to Spanish (enter 0 to stop)")

Enter a word to translate from English to Spanish (enter 0 to stop)hello
hola
Enter a word to translate from English to Spanish (enter 0 to stop)house
casa
Enter a word to translate from English to Spanish (enter 0 to stop)car
coche
Enter a word to translate from English to Spanish (enter 0 to stop)ant
hormiga
Enter a word to translate from English to Spanish (enter 0 to stop)0

### Part B

In [27]:
Temp={1:85, 2:83, 3:84, 4:84, 5:82,
        6:87, 7:86, 8:85, 9:81, 10:82,
        11:84, 12:87, 13:89, 14:90, 15:84,
        16:85, 17:89, 18:89, 19:86, 20:78,
        21:78, 22:70, 23:71, 24:75, 25:77,
        26:77, 27:85, 28:87, 29:91, 30:86}
x=list(Temp.values())
y=list(Temp.keys())
import numpy as np 
feh=np.array(x)
cel=(5*feh/9-32)
Temp=dict(zip(y,cel))

coolest=min(Temp.values())
for key in Temp:
    if Temp[key]==coolest:
        print("The coolest day was on September ", key)
max2=(list(sorted(Temp.values()))[-2])
for key in Temp:
    if Temp[key]==max2:
        print("The second hottest day was on September ", key)
Temp

The coolest day was on September  22
The second hottest day was on September  14

{1: 15.222222222222221,
 2: 14.111111111111114,
 3: 14.666666666666664,
 4: 14.666666666666664,
 5: 13.555555555555557,
 6: 16.333333333333336,
 7: 15.777777777777779,
 8: 15.222222222222221,
 9: 13.0,
 10: 13.555555555555557,
 11: 14.666666666666664,
 12: 16.333333333333336,
 13: 17.444444444444443,
 14: 18.0,
 15: 14.666666666666664,
 16: 15.222222222222221,
 17: 17.444444444444443,
 18: 17.444444444444443,
 19: 15.777777777777779,
 20: 11.333333333333336,
 21: 11.333333333333336,
 22: 6.888888888888886,
 23: 7.444444444444443,
 24: 9.666666666666664,
 25: 10.777777777777779,
 26: 10.777777777777779,
 27: 15.222222222222221,
 28: 16.333333333333336,
 29: 18.555555555555557,
 30: 15.777777777777779}

### Part C

In [6]:
#symmetric difference ()
set1 = {50, 60, 70, 80, 90}
set2 = {70, 80, 90, 100, 200}
set1.symmetric_difference(set2)

{50, 60, 100, 200}

In [7]:
set1^set2

{50, 60, 100, 200}

In [5]:
#.isdisjoint()
seta = {12, 13, 14, 15, 16}
setb = {21, 22, 23, 24, 12}
set1.isdisjoint(set2)

False

In [9]:
#intersection_update(&=)
seta&=setb
print(seta)

{12}

In [12]:
#symmetric_difference (^=)
setc = {20, 30, 40, 50, 60}
setd = {70, 80, 90, 100, 20}
setc^=setd
print(setc)
print(setd)

{100, 70, 40, 80, 50, 90, 60, 30}
{100, 70, 80, 20, 90}

In [13]:
#remove(), discard(), pop()
import random
sete=set([random.randrange(30) for i in range (10)])
print(sete)

{8, 11, 15, 16, 17, 19, 21}

In [14]:
sete.remove(11)
print(sete)

{8, 15, 16, 17, 19, 21}

In [15]:
sete.discard(17)
print(sete)

{8, 15, 16, 19, 21}

In [18]:
sete.pop()
print(sete)

{15, 16, 19, 21}